* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    height: 100vh;
    background-image: url(images/Images/Two.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

a:hover {
    color: #fff200;
}

header {
    position: relative;
    padding: 0 8em;
    background-color: rgba(19, 22, 22, 0.61);
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    height: 80px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gvas {
    width: 6.5%;
    position: absolute;
    left: 1%;
    margin-top: -3.2%;


}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 5rem;

}


.navbar .burger-menu-button {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.buttons {
    display: flex;
    gap: 10px;
}

.action-button {
    background-color: #fff200;
    color: black;
    border: 1px solid #fff200;
    padding: 0.5rem 1.2rem;
    outline: none;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;

}

.action-button:hover {
    color: blue;
    border: 1px solid #fff200;
}

.pro {
    background-color: transparent;
    color: white;
    border: 1px solid #fff200;
}

.pro:hover {
    background-color: #fff200;
    color: rgba(34, 7, 97, 0.726);
}

/*-----Burger menu----*/
.burger-menu {
    display: none;
    height: 0;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.burger-menu.open {
    height: 310px;
}

.burger-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.divider {
    height: 1px;
    background: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}



.burger-menu .action-button {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*------Suite----*/

.texte {
    font-size: 3em;
    font-weight: bold;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg, #7c7f80, #fffb0096);
    font-family: Dutch801 XBd BT;

}

.table1 {
    width: 13rem;
    height: 13rem;
    margin-left: 30%;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 90px;
    animation: zoom 2s infinite alternate-reverse;

}

@keyframes zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.table2 {
    width: 13rem;
    height: 13rem;
    margin-left: 2%;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -400px;
    animation: zoom 2s infinite alternate-reverse;
}

@keyframes zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}




/*--------Responsive-------*/

@media (max-width:990px) {
    header {
        background: none;
    }

    .navbar .links,
    .navbar .action-button {
        display: none;

    }

    .navbar .burger-menu-button {
        display: block;

    }

    .burger-menu {
        display: block;

    }
}

@media (max-width:576px) {

    .burger-menu {
        position: block;
        z-index: 9999;
    }

}

/*--- Logo + burger---*/

@media (max-width:500px) {

    .gvas {
        width: 5rem;
        margin-top: -8%;
    }

    .burger-menu-button {

        position: relative;
        left: 5rem;
    }

    header {
        display: block;
    }

}

/*@media (max-width:150px) {

    .gvas {
        width: 2rem;
        margin-top: -2%;
    }

    .burger-menu-button {
        position: relative;
        left: 5rem;
    }

    .table1 {
        width: 4rem;
        height: 4rem;
        position: relative;
        right: 50rem;
    }
}*/


@media (max-width:990px) {
    .table1 {
        width: 8rem;
        height: 8rem;
        position: relative;
        right: 5rem;
    }

    .table2 {
        width: 8rem;
        height: 8rem;
        position: relative;
        left: -5rem;
    }

    .texte {
        font-size: 2rem;
    }
}


/* --- arrière-plan sombre derrière la fenêtre --- */
.modal {
    display: none;
    /* caché au début */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Bouton principal */
.btn-primary {
    padding: 10px 22px;
    background: #fff200;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
    font-family: Roboto Condensed, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.btn-primary:hover {
    background: #9ca4ad;
}

/* --- arrière-plan sombre derrière la fenêtre --- */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(6px);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

/* --- fenêtre --- */
.modal-content {
    background: #ffffff;
    width: 380px;
    padding: 20px 30px;
    border-radius: 18px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
    position: relative;
}

/* Animation d’apparition */
.animate {
    animation: popup 0.35s ease;
}

@keyframes popup {
    from {
        opacity: 0;
        transform: scale(0.85);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Titre */
.modal-title {
    margin: 0 0 10px;
    font-size: 22px;
    color: #202020;
    text-align: center;
}

/* Croix de fermeture */
.close {
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 26px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover {
    color: #000;
}

/* Inputs */
.form-group .input-box {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 14px;
    color: #444;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 5px;
    font-size: 15px;
    transition: 0.3s;
}

.form-group input:focus {
    border-color: #0078ff;
    box-shadow: 0 0 5px rgba(0, 120, 255, 0.3);
}

/* Bouton envoyer */
.btn-submit {
    position: relative;
    width: 100%;
    padding: 12px;
    margin-top: 30px;
    border: none;
    background: #0078ff;
    color: white;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background: #005fcc;
}


#btnInscription {
    margin-top: 80px;
    position: absolute;
    left: 45%;
}


/*----------choix de la formation*/



/*.dropdown-input {
  position: relative;
  width: 250px;
  font-family: sans-serif;
}*/

.dropdown-btn {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: white;
    cursor: pointer;
}

.options {
    list-style: none;
    border: none;
    border-top: none;
    border-radius: 0 0 8px 8px;
    background: white;
    width: 30%;
    display: none;
    position: absolute;
    z-index: 10;


}

.options li {
    padding: 0px 0px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    /* aligne la case et le texte */
    gap: 8px;
    /* petit espace entre la case et le texte */
    margin-bottom: 6px;
    /* espace entre les lignes */
}

.options label {
    cursor: pointer;
    display: flex;
    gap: 8px;
}